body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #360606b0;
}

header h1 {
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 40px;
    padding: 1rem;
    text-align: center;
}

#chatLog {
    font-size: 20px;
    width: 60%;
    text-align: left;
    height: 400px;
    border: 1px solid #0c0404;
    color: #ffffff;
    background-color: rgba(24, 17, 64, 0.599);
    padding: 10px;
    overflow-y: auto;
    margin-left: 18%;
}

#userInput {
    width: 50%;
    margin-left: 18%;
    padding: 10px;
    border: 1px solid #090909;
    color: #000000;
}

#sendButton {
    font-size: 13px;
    width: 9%;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-left: 4px;
    text-align: center;
}
